.App {
  text-align: center;
  width:23rem;
  margin-top: 2%;
}
.body{
  display: flex;
  flex-direction: column;
  
  border: 1px solid;
  
  height: 28rem;
  background-color: antiquewhite;
}
input[type='text']{
  padding: 3%;
  border-radius: 5px;
  width: 16rem;
}
input[type='submit']{
  background-color: #0095f6;
  padding: 3%;
  border-radius: 5px;
  border-color: #0095f6;
  color: white;
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
input[type='submit']:hover{
  background-color: #37af65;
  color: rgb(42, 37, 37);
  border-color: #37af65;
  transform: scale(1.1);
}

.result{
  margin-top: 10%;
  border-top-right-radius: 45rem;
  border-top-left-radius: 45rem;
   background-color: aqua;
   height: 15rem;
}
.p{
  margin-top: 25%;
  font-size: large;
  font-style:normal;
  font-weight: 600;
}
.weather{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

